@using MudBlazor
@page "/"

<div style="display:flex; height:100%">
    <div style="border-right:1px solid #333; padding-left:10px; padding-right:10px; width:400px; overflow-y:scroll; padding-top:10px">
        <h2>Мои тренировки</h2>
        <MudButton Style="width:100%; margin-bottom:10px" Variant="Variant.Outlined">Добавить новую</MudButton>
        <MudStack>
            
        </MudStack>
    </div>
</div>


@code {

}
